<!DOCTYPE html>
<html>
    <title>Predicted graphs</title>
    <body>
        <div><center><h1>Sub index predictor</h1></center></div>
        <p>
        <a href= "Housing?months=6">Housing Sub-Index predictor</a>
        <p>
            <a href= "Intoxicants?months=6">Pan & Tobacco Sub-Index predictor</a>
        <p>
            <a href= "Food?months=6">Food & Beverages Sub-Index predictor</a>
            
            <p>
                <a href=history.back()> Back </a> 
    </p>
    



    </body>
</html>
