<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <link href="../static/jquery.js" >
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Python CPI Prediction App</h3>
      </div>
 
      <div class="jumbotron">
        <h1>CPI Prediction App</h1>
        <form class="form-signin">
        <label for="inputIndexName" class="sr-only">IndexName</label>
        <input type="name" name="IndexName" id="IndexName" class="form-control" placeholder="Index Name" required autofocus>
        <label for="inputIndexState" class="sr-only">Input Index State</label>
        <input type="inputIndexState" name="inputIndexState" id="inputIndexState" class="form-control" placeholder="Input Index State" required autofocus>
         
        <button id="btnGetCPIPrediction" class="btn btn-lg btn-primary btn-block" type="button">Get CPI Prediction</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>
